/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

@font-face {
    font-family: 'DharmaGothicMBold';
    src: url('../fonts/dharmagothicm_bold_r-webfont.eot');
    src: url('../fonts/dharmagothicm_bold_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dharmagothicm_bold_r-webfont.woff') format('woff'),
         url('../fonts/dharmagothicm_bold_r-webfont.ttf') format('truetype'),
         url('../fonts/dharmagothicm_bold_r-webfont.svg#DharmaGothicMBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	width: 940px;
	margin: 0 auto;
	
}
header {
	font-family: 'DharmaGothicMBold';
	font-weight: normal;
	position: relative;
	float: left;
	width: 100%;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #808184;
}
a:hover {
	color: #5f938e;
}
.active a {
	color: #5f938e;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#logo {
	position: absolute;
	top: 65px;
}
/**************  wybór języka  ***************/
#lang {
	position: absolute;
	font-family: 'Times New Roman';
	right: -1px;
	top: 75px;
	text-transform: lowercase;
	font-size: 14px;
	font-style: italic;
	margin: 0;
	padding: 0;
	color: #b7b8ba;
}
#lang li{
	float: left;
}
#lang li a{
	text-align: center;
	margin-right: 4px;	
	color: #b7b8ba;
}
#lang li a:hover,#lang .active a{
	color: #878787;
}
#lang li:last-child a{
	margin: 0 0 0 3px;	
}
/**************  główne menu  ***************/
#globalnav {
	float: right;
	display: block;
	font-stretch: condensed;
	color: #2a2a2a;
	font-size: 24px;
	height: 24px;
	width: 100%;
	margin: 113px 0 0 0;
	padding-bottom: 24px;
}
#globalnav ul {
	float: right;
	width: 624px;
	margin-right: -1px;
	display: block;
}
#globalnav ul li {
	float: left;
	text-align: right;
	margin-right: 16px;
	line-height: 24px;
}
#globalnav ul li:last-child {
	margin-right: 0;
}
#globalnav li a {
	font-weight: normal;
	letter-spacing: 1px;
	color: #363636;
}
#globalnav li a:hover, .active a{
	color: #5f938e;
}
/**************  podmenu  ***************/
#localnav {
	width: 100%;
	line-height: 35px;
	border-top: 1px solid  #eee;
	border-bottom: 1px solid  #eee;
	margin: 0;
	float: left;
	text-transform: none;
}
#localnav li{
	float: left;
	margin: 0 15px;
}
#localnav li a{
	font-family: 'Times New Roman';
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #808184;	
}
#localnav li a:hover, #localnav .active a{
	color: #5f938e;
}
/**************  menu realizacji  ***************/
#productionNav {
	width: 100%;
	height: 71px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	margin: -1px 0 0 0;
	float: left;
	text-transform: none;	
}
#productionNav ul {
	float: left;
	padding: 9px 0 0 0;
}
#productionNav ul li {
	float: left;
	width: 188px;
	line-height: 14px;
	margin: 2px 0;
}
#productionNav ul li a {
	font-family: 'Times New Roman';
	font-style: italic;
	font-size: 12px;
	margin-left: 14px;
	color: #808184;
}
#productionNav ul li a:hover,#productionNav ul .active a{
	color: #5f938e;
}
/**************  główny blok  ***************/
#maincontainer {
	position: relative;
	float: left;
	margin: 26px 0 0 0;
	width: 100%;
}
#maincontainer.index {
	margin-top: 18px;
}
/**************  blok isotope  ***************/
#container .item {
	display: block;
	margin: 10px 0;
	overflow: hidden;
}
#container {
	float: left;
	overflow: hidden;
	width: 960px;
}
/*
#container .item img:hover {
	-webkit-transform: scale(1.2);
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 500ms;
	-moz-transform: scale(1.2);
	-moz-transition-timing-function: ease-in;
	-moz-transition-duration: 500ms;
	-o-transform: scale(1.2);
	-o-transition-timing-function: ease-in;
	-o-transition-duration: 500ms;
	-ms-transform: scale(1.2);
	-ms-transition-timing-function: ease-in;
	-ms-transition-duration: 500ms;	
}*/

/**************  sekcje news/contact/production  ***************/
section {
	width: 100%;
	display: block;
	float: left;
}
section.production {
	border-bottom: solid 1px #eee;	
	margin-bottom: 9px;
}
/**************  sekcja contact  ***************/
#contact {
	margin-top: 1px;
	margin-bottom: 14px;
}
#contact article {
	width: 298px;
	margin-top: -1px;
	padding-top: 27px;
	height: 387px;
	border-top: solid 1px #eee;	
}
#contact article p {
	margin: 9px 0;
	width: 100%;
	font-size: 14px;
}
#contact p a {
	color: #808184;	
}
#contact p a:hover {
	color: #5f938e;	
}
#contact #zoomed {
	height: 415px;
	width: 620px;
	margin-right: 22px;
}
#contact .info {
	margin-bottom: 9px;
}
/**************  sekcja about  ***************/
.about {
	height: 415px;
	margin-top: 9px;
	margin-bottom: 26px;
}
.about .column{
	float: left;
	width: 280px;
	height: 386px;
	padding-right: 40px;
	padding-top: 27px;
	border-top: solid 1px #eee;	
	border-bottom: solid 1px #eee;		
}
.about .column:last-child {
	padding-right: 20px;
}
.about .list{
	width: 620px;
	height: 353px;
	padding-top: 60px;
	border-top: solid 1px #eee;	
	border-bottom: solid 1px #eee;	
}
.about p {
	margin-top: 13px;
}
.about #zoomed {
	height: 412px;
	width: 620px;
	margin-right: 20px;
}
.about #smallZoomed {
	float: left;
	height: 412px;
	width: 300px;
	margin-right: 20px;
}
.about article{
	float: left;
	height: 383px;
	padding-top: 27px;
	border-top: solid 1px #eee;	
}
.about:last-child {
	margin-bottom: 16px;
}
/**************  sekcja news  ***************/
.news {
	height: 412px;
	margin: 1px 0 37px 0;
}
.news:last-child {
	margin-bottom: 16px;
}
.news #zoomed {
	height: 412px;
	width: 620px;
	margin-right: 20px;
}
.news #smallZoomed {
	float: left;
	height: 412px;
	width: 300px;
	margin-right: 20px;
}
.news article{
	float: left;
	height: 383px;
	padding-top: 27px;
	border-top: solid 1px #eee;	
}
.news p {
	width: 280px;
}
.news .column {
	width: 280px;
	padding-right: 40px;
}
.news .column:last-child {
	padding-right: 20px;
}
/**************  tekst artykułów  ***************/
article {
	font-family: 'Times New Roman';
	float: left;
	display: block;
	width: 300px;
	padding-top: 14px;
	height: 361px;
	border-bottom: solid 1px #eee;	
}
article p {
	float: left;
	font-style: italic;
	font-size: 12px;
	margin-top: 15px;
	line-height: 18px;
	color: #808184;
}
#zoomed {
	display: block;
	float: left;
	width: 620px;
	height: 412px;
	margin-right: 20px;
}
/**************  nagłówki artykułów  ***************/
h5 {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	display: block;
	font-style: italic;
	color: #808184;
	margin: 0;
}
h5.name {
	color: #5f938e;
}
h5.date {
	font-size: 12px;
	font-weight: normal;
}
h5.bigSpace {
	margin-bottom: 18px;
}
h5.client {
	font-size: 14px;
	line-height: 18px;
	margin-left: 32px;
	font-weight: normal;
	margin-bottom: 18px;
}
h5.client a {
	font-size: 12px;
	margin-left: 2px;
	color: #808184;
}
h5.client a:hover {
	color: #5f938e;
}
/**************  nawigacja newsów   ***************/
#newsNav {
	float: left;
	display: table;
	width: 100%;
	margin-top: -19px;
	padding: 0;
}
#newsNav li {
	display: table-cell;
}
#newsNav li:last-child {
	text-align: right;
	padding-right: 4px;
}
#newsNav li a {
	font-family: 'Times New Roman';
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	color: #808184;
}
#newsNav li a:hover {
	color: #5f938e;	
}
/**************  nawigacja realizacjami  ***************/
#articleNav {
	float: left;
	width: 300px;
	height: 37px;
	border-top: solid 1px #eee;	
	border-bottom: solid 1px #eee;		
	display: table;
}
#articleNav li {
	display: table-cell;
	height: 100%;
}
#articleNav li a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
#articleNav .arrow {
	width: 12px;
	height: 17px;
}
#prevArticle .arrow{
	float: left;
	margin: 9px 0 0 12px;
	background: url(../img/arrows.png) 0% 0% no-repeat;
}
#prevArticle .arrow.active {
	background: url(../img/arrows.png) 32% 0% no-repeat;
}
#nextArticle .arrow{
	float: right;
	margin: 9px 12px 0 0;
	background: url(../img/arrows.png) 100% 0% no-repeat;
}
#nextArticle .arrow.active {
	background: url(../img/arrows.png) 68% 0% no-repeat;
}
/**************  nawigacja zdjęciami realizacji  ***************/
#thumbs {
	width: 942px;
	height: 88px;
	float: left;
	display: table;
}
#thumbs li {
	float: left;
	text-align: left;
	width: 60px;
	height: 52px;
	margin: 18px 9px 0 9px;
	border: solid 1px #eee;
}
#thumbs li:first-child {
	margin-left: 0;
}
#thumbs li:last-child {
	margin-right: 0;
}
#thumbs li a {
	display: block;
	width: 100%;
	height: 100%;
}
#prevThumb {
	float: left;
	width: 60px;
	height: 52px;
	margin: 18px 9px 0 0;
	border: solid 1px #eee;	
}
#thumbs .arrow {
	display: block;
	width: 12px;
	height: 17px;
	overflow: hidden;
}
#prevThumb .arrow {
	float: left;
	margin: 17px 0 0 22px;
	background: url(../img/arrows.png) 0% 62% no-repeat;
}
#prevThumb .arrow.active {
	background: url(../img/arrows.png) 32% 62% no-repeat;	
}
#nextThumb {
	float: right;
	width: 60px;
	height: 52px;
	margin: 18px 0 0 9px;
	border: solid 1px #eee;
}
#nextThumb .arrow {
	float: right;
	margin: 17px 23px 0 0;
	background: url(../img/arrows.png) 100% 62% no-repeat;
}
#nextThumb .arrow.active {
	background: url(../img/arrows.png) 68% 62% no-repeat;	
}
/**************  stopka  ***************/
#globalfooter {
	font-family: 'Times New Roman';
	font-style: italic;
	float: left;
	position: relative;
	width: 100%;
	margin: 20px 0;
	height: 71px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}
/**************  menu stopki  ***************/
#globalnav2 {
	float: left;
	display: table;
	margin: 20px 0 20px -1px;
	height: 32px;
	width: 691px;
	padding-right: 14px;
	border-right: solid 1px #eee;
}
#globalnav2 li{
	float: left;
	margin-right: 29px;
}
#globalnav2 li a {
	line-height: 32px;
	font-size: 14px;
	display: block;
	text-align: left;
	color: #808184;
}
#globalnav2 li a:hover, .active a{
	color: #5f938e;
}
#up {
	float: left;
	margin-top: 18px;
	width: 140px;
	border-right: solid 1px #eee;
}
#up a {
	display:block;
	text-align: right;
	margin-left: 33px;
	width: 74px;
	height: 34px;
	line-height: 36px;
	color: #808184;
	font-size: 14px;
}
#up a:hover {
	color: #5f938e;	
}
#up .arrow {
	float: left;
	margin-top: 12px;
	height: 10px;
	width: 18px;
	background: url(../img/arrows.png) 0% 100% no-repeat;
}
#up .arrow.active {
	background: url(../img/arrows.png) 100% 100% no-repeat;	
}
#minima {
	float: left;
	height: 34px;
	line-height: 38px;
	margin: 18px 0 0 24px;
	text-align: center;
	font-size: 10px;
	color: #d3d3d3;
}
#minima:hover {
	color: #5f938e;
}
/*********** NIVO SLIDER ***********/
.nivoSlider {
	position: relative;
	float:left;
	width:620px; /* Change this to your images width */
	height:412px;
	margin-right: 20px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
#slider .nivo-controlNav {
	width: 942px;
	height: 88px;
	float: left;
}
#slider .nivo-controlNav img {
	float: left;
	width: 60px;
	height: 52px;
	margin: 18px 9px 0 9px;
	border: solid 1px #eee;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	height: 100%;
	width: 10%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
